@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
 
  --color-svetlo-plava: #C3E7FF;
  --color-tamno-plava: #004B7C;
  --color-mint: #60C3AD;
  --color-roze: #D057A0;
  --color-zuta: #FFCD67;
  --color-crvena: #F48580;
  
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
}
