@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-svetlo-plava: #c3e7ff;
  --color-tamno-plava: #004b7c;
  --color-mint: #60c3ad;
  --color-roze: #d057a0;
  --color-zuta: #ffcd67;
  --color-crvena: #f48580;

  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
}
@keyframes mrdniGoreDole {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animacija-skok {
  animation: mrdniGoreDole 0.2s ease-in-out;
}
